.profile__edit {
    background-color: transparent;
    height: 24px;
    width: 24px;
    border: none;
    cursor: pointer;
    background-image: url(../../../images/edit.svg);
    background-size: cover;
  }
  
  .profile__edit-btn:hover {
    opacity: 50%;
    transition: .3s;
  }

  @media screen and (max-width: 767px) {
    .profile__edit {
      height: 18px;
      width: 18px;
    }
  }