.elements {
    margin-top: 48px;
    margin-bottom: 67px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 17px;
}

@media screen and (max-width: 899px) {
    .elements {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .elements {
        grid-template-columns: 1fr;
        margin-top: 36px;
        margin-bottom: 48px;
    }
}