.element__image {
    /* border: 1px red solid; */
    width: 100%;
    min-width: 282px;
    height: 282px;
    min-height: 282px;
    object-fit: cover;
}

.element__image:hover {
    opacity: .8;
    transition: .2s;
}