.block {
    margin: 0 auto;
    max-width: 880px;
}

@media screen and (max-width: 900px) {
    .block {
        margin-left: 27px;
        margin-right: 27px;
    }
}

@media screen and (max-width: 767px) {
    .block {
        margin-left: 19px;
        margin-right: 19px;
    }
}