.profile__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
    .profile__row {
        justify-content: center;
        margin-top: 22.5px;
        margin-bottom: 14px;
    }
}