.popup__close_image-window {
    top: 16px;
    right: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__close_image-window {
        top: 20px;
        right: 38px;
        width: 20px;
        height: 20px;
    }
}